.menuTabs{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #fff;
    .itemMenuTab{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 15px 0px;
        transition: 0.3s;
        cursor: pointer;
        // color: #61dafb;
        // &:hover .textItemMenuTab{
        //     color: #61dafb;
        // }
        // &:hover .iconMenuTab{
        //     color: #61dafb;
        // }
        .iconMenuTab{
            font-size: 10px;
            @media screen and (max-width : 768px) {
                font-size: 8px;
            }
        }
        .textItemMenuTab{
            font-size: 13px;
            font-weight: 500;
            margin-top: 5px;
            @media screen and (max-width : 768px) {
                font-size: 10px;
            }
        }
    }
    .itemMenuTab::after{
        content: "";
        position: absolute;
        right: 0;
        width: 5px;
        height: 100%;
        background: radial-gradient(ellipse at center,#ddd 0,hsla(0,0%,100%,0) 70%);
    }
    .active{
        opacity: 1;
        // color: #61dafb;
    }
}
.allTabContent{
    // margin-top: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    // overflow: hidden;
    height: 600px;
    max-height: 600px;
    @media screen and (max-width : 1000px) {
        height: 100%;
        max-height: 100%;
    }
    @media screen and (max-width : 768px) {
        display: grid;
        // grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
    }
    .leftContent{
        background-color: #fff;
        display: grid;
        grid-auto-rows: 40% 32% 18% auto;
        height: 600px;
        max-height: 600px;
        // overflow: hidden;
        @media screen and (max-width : 1000px) {
            // height: 100%;
            max-height: 100%;
        }
        @media screen and (max-width : 768px) {
            // min-height: 600px;
            height: 500px;
            grid-auto-rows: 35% 38% 20% auto;
        }
        .backgroundImg{
            position: relative;
            .imgLogo{
                clip-path: polygon(0 0,0 87%,50% 100%,50% 100%,50% 100%,100% 87%,100% 0);
                max-width: 100%;
                height: 220px;
                max-height: 220px;
                background-size: cover;
                background-repeat: no-repeat;
                transition: 0.4s all linear;
                opacity: 0.3;
                @media screen and (max-width : 1000px) {
                    background-position: center;
                }
                @media screen and(max-width : 768px) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            // .logoDefault{
            //     width: 100px;
            //     height: 120px;
            //     background-color: red;
            //     position: absolute;
            //     left: 50%;
            //     bottom: -60%;
            //     transform: translate(-50%, -50%);
            //     z-index: 999;
            // }
            .avatarDefault{
                border-radius: 50%;
                width: 140px;
                height: 140px;
                margin: 0px auto;
                transform: translateY(-70%);
                z-index: 999;
                @media screen and (max-width : 1000px) {
                    // width: 80px;
                    // height: 80px;
                }
                @media screen and (max-width : 768px) {
                    // width: 70px;
                    // height: 70px;
                }
                @media screen and (max-width : 500px) {
                    width: 120px;
                    height: 120px;
                }
                img{
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                }
//     animation: fade 0.5s linear;
// }
// @keyframes fade {
//   0% { opacity: 0 }
//   100% { opacity: 1 }
// }
                .imgAvatar{
                    // object-fit: contain;
                    // max-width: 100%;
                    // max-height: 100%;
                }
            }
        }
        
        .profileContent{
            padding: 0px 30px 0px 30px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width : 1000px) {
                padding: 0px 10px;
            }
            .userName{
                font-size: 30px;
                font-weight: 600;
                // margin: 0px auto;
                @media screen and ( max-width : 768px){
                    font-size: 25px;
                    margin-top: 25px;
                }
            }
            .position{
                display: block;
                width: 100%;
                max-width: 100%;
                font-size: 18px;
                margin: 7px 0px 15px 0px;
                color : #61dafb;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid #000000; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .1em; /* Adjust as needed */
                animation: 
                    typing 4.5s steps(40, end) infinite,
                    blink-caret .75s step-end infinite;
            }
            @keyframes typing {
                0% { width: 0 }
                70% { width: 100% }
                100% { width: 100%}
              }
              
              /* The typewriter cursor effect */
            @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: #000000; }
            }

            .logoProfile{
                .marginIcon{
                    margin: 0px 8px;
                }
            }
        }
        .location{
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width : 768px ) {
                margin-top: 10px;
            }
            // display: flex;
            .titleLocation{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 15px;
                background-color:#61dafb;
                .iconLocation{
                    margin-right: 10px;
                    font-size: 14px;
                    color: #fff;
                }
                .textLocation{
                    font-size: 15px;
                    color: #fff;
                }
            }
            .contentLocation{
                margin-left: 15px;
                font-size: 13px;
            }
        }
        .skills{
            padding: 0px 20px;
            .titleSkill{
                font-size: 12px;
                font-weight: bold;
            }
            .allSkills{
                display: flex;
                margin: 10px -7px 0px -7px;
                flex-wrap: wrap;
                .framworks{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    margin: 7px 7px;
                    padding: 7px 0px;
                    border: 1px solid #000000;
                    border-radius: 2px;
                    font-weight: 250;
                    font-size: 12px;
                    transition: 0.5s all linear;
                    &:hover{
                        transform: scale(1.1);
                    }
                    @media screen and (max-width : 1000px) {
                        width: 50px;
                        font-size: 8px;
                    }
                    // margin: 0px 8px; 
                }
            }
        }
        .contact{
            border-top: 1px solid #d0cdcd;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width : 768px) {
                border-bottom: 1px solid #d0cdcd;
            }
            .download{
                color: #323232;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0px;
                font-weight: bold;
                cursor: pointer;
                .downloadElement{
                    transition: 0.3s;
                }
                @media screen and (max-width : 1000px) {
                    padding: 7px 0px;
                    font-size: 15px;
                }
                @media screen and (max-width : 500px) {
                    font-size: 13px;
                }
            }
            .download:first-child{
                border-right : 1px solid #d0cdcd;
            }
            .contactMe{
                color : #323232;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0px;
                font-weight: bold;
                &:hover{
                    color : #61dafb;
                }
            }
        }
    }
    .rightContent{
        max-height: 600px;
        overflow-y: auto; 
        &::-webkit-scrollbar {
            width: 4px;
        }
        @media screen and (max-width : 768px) {
            min-height: 600px;
            position: relative;
            height: 100%;
            overflow-y: hidden;
        }
    }
    .tabContents{
        display: block;
        animation-name: example;
        animation-duration: 1s;
        background-color: #fff;
        height: 100%;
        padding: 15px 30px;
        @media screen and (max-width : 768px) {
            animation-name: example2;
            animation-duration: 1s;
        }
        .aboutMe{
            display: inline-block;
            font-weight: 500;
            font-size: 27px;
            padding: 10px;
            border-bottom: 1px solid #d0cdcd;
            transition: 0.3s;
        }
        .myContent{
            padding: 20px 0px;
            position: relative;
            .year{
                position: absolute;
                right: 2%;
                top: 8%;
                font-size: 12px;
            }
            .myName{
                font-weight: bold;
                font-size: 22px;
                text-transform: lowercase;
                margin-bottom: 20px;
            }
            .allTextContent{
                display: flex;
                align-items: center;
                margin: 15px 0px;
                .textMyContent{
                    font-size: 14px;
                    font-weight: bold;
                    transition: 0.3s;
                    @media screen and (max-width : 768px ){
                        font-size: 10px;
                    }
                }
                .textContent{
                    font-weight: 500;
                    font-size: 16px;
                    display: inline-block;
                    @media screen and (max-width : 768px ){
                        font-size: 12px;
                    }
                }
            }
            .myphilosophy{
                font-size: 18px;
                font-weight: bold;
            }
        }
        .allMyWorks{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap : 30px;
            height: auto;
            .myWork{
                overflow: hidden;
                max-width: 100%;
                .imgWork{
                    width: 100%;
                    height: 200px;
                    max-width: 100%;
                    object-fit: cover;
                }
                .contentWork{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .titleWork{
                        font-size: 15px;
                    }
                    .linkWork{
                        margin-top: 8px;
                        font-size: 8px;
                        color: gray;
                    }
                }
            }
        }
    }
    @keyframes example {
        from {width: 30%; opacity: 0; background-color: transparent;}
        to {width: 100%; opacity: 1; background-color: #fff;}
    }
    @keyframes example2 {
        from {height: 10%; opacity: 0; background-color: transparent;}
        to {height: 100%; opacity: 1; background-color: #fff;}
    }
}
